
.contact-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.contact-left {
  background-image: url('../public/images/contact-page-background.svg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 4rem 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-left h1 {
  font-weight: bold;
}

.contact-left h1 span {
  display: block;
  font-size: 8rem;
  font-weight: bold;
}

.contact-left h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.contact-left p {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.contact-info p {
  margin: 1rem 0;
}

.contact-right {
  background-color: #FCFCF7;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

.contact-form {
  width: 100%;

  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-form h2 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.contact-form label{
color: #E86540;

}

.contact-form input,
.contact-form textarea {

  border: none;
  border-bottom: 2px solid black;
  padding: 0.5rem 0;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  margin-top: 0.5rem;
}

.contact-form button {
  background-color: #E86540;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.9rem;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  width: fit-content;
  align-self: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.contact-form button:hover {
  background-color: #d74f27;

}
